@model UD_Granit.ViewModels.Dissertation.Create

@{
    ViewBag.Title = "Создать запись о диссертации";
}

<h2>@ViewBag.Title</h2>
<p>На этой странице Вы должны заполнить информацию о Вашей диссертации. Записи о диссертациях, в которые будет занесена неверная информация, будут удалены из системы.</p>

@using (Html.BeginForm("Create", "Dissertation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Speciality)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Speciality, null)
        @Html.ValidationMessageFor(model => model.Speciality)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.Type)
    </div>
    <div class="editor-field">
        @Html.EnumDropDownListFor(model => model.Dissertation.Type)
        @Html.ValidationMessageFor(model => model.Dissertation.Type)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.Title)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Dissertation.Title)
        @Html.ValidationMessageFor(model => model.Dissertation.Title)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.References)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Dissertation.References)
        @Html.ValidationMessageFor(model => model.Dissertation.References)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.Administrative_Use)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Dissertation.Administrative_Use)
        @Html.ValidationMessageFor(model => model.Dissertation.Administrative_Use)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.Publications)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Dissertation.Publications)
        @Html.ValidationMessageFor(model => model.Dissertation.Publications)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.Date_Sending)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Dissertation.Date_Sending)
        @Html.ValidationMessageFor(model => model.Dissertation.Date_Sending)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Dissertation.Date_Preliminary_Defense)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Dissertation.Date_Preliminary_Defense)
        @Html.ValidationMessageFor(model => model.Dissertation.Date_Preliminary_Defense)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.File_Abstract)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.File_Abstract, new { type = "file" })
        @Html.ValidationMessageFor(model => model.File_Abstract)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.File_Text)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.File_Text, new { type = "file" })
        @Html.ValidationMessageFor(model => model.File_Text)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.File_Summary)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.File_Summary, new { type = "file" })
        @Html.ValidationMessageFor(model => model.File_Summary)
    </div>

    <p>
        <input type="submit" value="Добавить запись о диссертации" />
    </p>
}

<script>
    $(function () {
        $("#Dissertation_Date_Sending").datepicker({ changeYear: true });
        $("#Dissertation_Date_Preliminary_Defense").datepicker({ changeYear: true });
    });
</script>
