@model UD_Granit.Models.Dissertation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dissertation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.References)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.References)
            @Html.ValidationMessageFor(model => model.References)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Administrative_Use)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Administrative_Use)
            @Html.ValidationMessageFor(model => model.Administrative_Use)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Publications)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Publications)
            @Html.ValidationMessageFor(model => model.Publications)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Sending)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Sending)
            @Html.ValidationMessageFor(model => model.Date_Sending)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Preliminary_Defense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Preliminary_Defense)
            @Html.ValidationMessageFor(model => model.Date_Preliminary_Defense)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
