@model UD_Granit.ViewModels.Dissertation.Details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Сведения о диссертации</h3>
<table>
    <tbody>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.Title)</td>
            <td>@Model.Dissertation.Title</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.Publications)</td>
            <td>@Model.Dissertation.Publications</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.Speciality)</td>
            <td>@Model.Dissertation.Speciality.Number @Model.Dissertation.Speciality.Name</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.Type)</td>
            <td>@Model.Dissertation.Type.ToDescription()</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.Defensed)</td>
            <td>@Model.Dissertation.Defensed</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.Administrative_Use)</td>
            <td>@Model.Dissertation.Administrative_Use</td>
        </tr>
        @if (Model.Dissertation.References != null)
        {
            <tr>
                <td>@Html.LabelFor(model => model.Dissertation.References)</td>
                <td>
                    <pre>@Model.Dissertation.References</pre>
                </td>
            </tr>
        }
        @if (Model.Dissertation.Date_Sending != null)
        {
            <tr>
                <td>@Html.LabelFor(model => model.Dissertation.Date_Sending)</td>
                <td>@Model.Dissertation.Date_Sending</td>
            </tr>
        }
        @if (Model.Dissertation.Date_Preliminary_Defense != null)
        {
            <tr>
                <td>@Html.LabelFor(model => model.Dissertation.Date_Preliminary_Defense)</td>
                <td>@Model.Dissertation.Date_Preliminary_Defense</td>
            </tr>
        }
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.File_Abstract)</td>
            <td>@Html.ActionLink("Скачать", "Download", new { id = Model.Dissertation.Id, type = "Abstract" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.File_Text)</td>
            <td>@Html.ActionLink("Скачать", "Download", new { id = Model.Dissertation.Id, type = "Text" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Dissertation.File_Summary)</td>
            <td>@Html.ActionLink("Скачать", "Download", new { id = Model.Dissertation.Id, type = "Summary" })</td>
        </tr>

        <!--<tr>
            <td></td>
            <td></td>
        </tr>-->
    </tbody>
</table>

<h3>Сведения об отзывах</h3>
@if ((Model.Dissertation.Replies != null) && (Model.Dissertation.Replies.Count > 0))
{
    foreach (UD_Granit.Models.Reply reply in Model.Dissertation.Replies)
    {
    <table>
        <tbody>
            <tr>
                <td>Автор отзыва</td>
                <td>@reply.Author</td>
            </tr>
            <tr>
                <td>Организация</td>
                <td>@reply.Organization</td>
            </tr>
            <tr>
                <td>Подразделение</td>
                <td>@reply.Departmant</td>
            </tr>
            <tr>
                <td>Учёная степень</td>
                <td>@reply.Degree</td>
            </tr>
            <tr>
                <td colspan="2">Текст отзыва</td>
            </tr>
            <tr>
                <td colspan="2">
                    <pre>@reply.Text</pre>
                </td>
            </tr>
            @if (Model.CanAddReplies)
            {
                <tr>
                    <td>Управление</td>
                    <td>
                        @Html.ActionLink("Удалить", "Delete", "Reply", new { id = reply.Id }, null)
                    </td>
                </tr>   
            }
        </tbody>
    </table>
    <p></p>
    }
}
else
{
    <div class="error">Сведения об отзывах ещё не добавлены соискателем.</div>
}

<div class="control">
    @if (Model.CanEdit)
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Dissertation.Id }) 
        @Html.ActionLink("Удалить", "Delete", new { id = Model.Dissertation.Id })
    }
    @if (Model.CanCreateSession)
    {
        @Html.ActionLink("Создать заседание на основании диссертации", "Create", "Session", new { id = Model.Dissertation.Id }, null)
    }
    @if (Model.CanAddReplies)
    {
        @Html.ActionLink("Добавить отзыв", "Create", "Reply", new { id = Model.Dissertation.Id }, null)
    }
</div>
