@model UD_Granit.ViewModels.Dissertation.Edit

@{
    ViewBag.Title = "Редактировать запись о диссертации";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Dissertation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Dissertation.Id)

    <fieldset>
        <legend>Основная информация о диссертации</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dissertation.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dissertation.Title)
            @Html.ValidationMessageFor(model => model.Dissertation.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Speciality)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Speciality, null)
            @Html.ValidationMessageFor(model => model.Speciality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dissertation.Publications)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dissertation.Publications)
            @Html.ValidationMessageFor(model => model.Dissertation.Publications)
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Прикрепляемые файлы</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.File_Abstract)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.File_Abstract, new { type = "file" })
            @Html.ValidationMessageFor(model => model.File_Abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.File_Text)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.File_Text, new { type = "file" })
            @Html.ValidationMessageFor(model => model.File_Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.File_Summary)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.File_Summary, new { type = "file" })
            @Html.ValidationMessageFor(model => model.File_Summary)
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Дополнительная информация о диссертации</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dissertation.References)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Dissertation.References)
            @Html.ValidationMessageFor(model => model.Dissertation.References)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dissertation.Administrative_Use)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dissertation.Administrative_Use)
            @Html.ValidationMessageFor(model => model.Dissertation.Administrative_Use)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Dissertation.Date_Sending)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dissertation.Date_Sending)
            @Html.ValidationMessageFor(model => model.Dissertation.Date_Sending)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dissertation.Date_Preliminary_Defense)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dissertation.Date_Preliminary_Defense)
            @Html.ValidationMessageFor(model => model.Dissertation.Date_Preliminary_Defense)
        </div>
    </fieldset>

    <div class="control">
        <button>Изменить запись о диссертации</button>
    </div>
}

@section scripts {
	<script>
		$(function () {
			$("#Dissertation_Date_Sending").appendDtpicker({ locale: "ru", dateOnly: true, closeOnSelected: true, firstDayOfWeek: 1 });
			$("#Dissertation_Date_Preliminary_Defense").appendDtpicker({ locale: "ru", dateOnly: true, closeOnSelected: true, firstDayOfWeek: 1 });
		});
	</script>
}
