@model UD_Granit.ViewModels.Dissertation.Index
@using UD_Granit.Helpers

@{
    ViewBag.Title = "Просмотр диссертаций";
}

<h2>@ViewBag.Title</h2>
<p>На этой странице Вы можете просмотреть список диссертаций, которые уже защищены, или будут защищены в ближайшее время. Для фильтрации полученной информации можно использовать поля определённых критериев поиска, которые расположены ниже.</p>

@if ((Model.Dissertations.Count > 0) || Model.SearchHaveResults)
{
    <h3>Поиск</h3>
    <p>Вы можете найти необходимую диссертацию при помощи текстового поля ниже. Введите заголовок диссертации или его часть в текстовое поле и нажмите на кнопку "Поиск".</p>
    using (Html.BeginForm("Index", "Dissertation", FormMethod.Get))
    {
    <div>
        @Html.TextBox("search", @Model.SearchString)
        <button>Поиск</button>
        @if(Model.SearchHaveResults){
            @Html.ActionLink("Очистить результаты поиска", "Index", "Dissertation")
        }
    </div>
    }
}

@if (Model.SearchHaveResults)
{
    <h3>Отображене результатов поиска по запросу "@(Model.SearchString)":</h3>
}

@if (Model.Dissertations.Count > 0)
{
    <h3>Список диссертаций</h3>
    <table>
        <thead>
            <tr>
                <td>Заголовок</td>
                <td>Тип</td>
                <td>Специальность</td>
                <td>Соискатель</td>
                <td>Детали</td>
            </tr>
        </thead>
        <tbody>
            @foreach (UD_Granit.Models.Dissertation currentDissertation in Model.Dissertations)
            {
                <tr>
                    <td>@currentDissertation.Title</td>
                    <td>@currentDissertation.Type.ToDescription()</td>
                    <td>@currentDissertation.Speciality.GetFullName()</td>
                    <td>@currentDissertation.Applicant.GetFullName()</td>
                    <td>@Html.ActionLink("Подробности", "Details", new { id = currentDissertation.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="error">Нет ни одной записи о диссертации.</div>
}