@using UD_Granit.Helpers
@if (Session.GetUser() != null)
{
    <div class="section">
        <h3>Меню пользователя</h3>

        <ul class="menu">
            @if (Session.GetUser() is UD_Granit.Models.Applicant)
            {
                <li>@Html.ActionLink("Диссертация", "My", "Dissertation")</li>
                <li>@Html.ActionLink("Заседания", "My", "Session")</li>
            }

            @if ((Session.GetUserPosition() == UD_Granit.Models.MemberPosition.Member) ||
            (Session.GetUserPosition() == UD_Granit.Models.MemberPosition.ViceChairman))
            {
                <li>@Html.ActionLink("Заседания", "My", "Session")</li>
                <li>@Html.ActionLink("Соискатели", "ShowApplicants", "Account")</li>
            }
            @if (Session.GetUserPosition() == UD_Granit.Models.MemberPosition.Secretary)
            {
                <li>@Html.ActionLink("Зарегистрировать пользователя", "Register", "Account")</li>
                <li>@Html.ActionLink("Заседания", "My", "Session")</li>
            }
            @if (Session.GetUserPosition() == UD_Granit.Models.MemberPosition.Chairman)
            {
                <li>@Html.ActionLink("Пользователи", "All", "Account")</li>
                <li>@Html.ActionLink("Заседания", "My", "Session")</li>
                <li>@Html.ActionLink("Специальности", "Index", "Speciality")</li>
            }
            @if (Session.GetUser() is UD_Granit.Models.Administrator)
            {
                <li>@Html.ActionLink("Пользователи", "All", "Account")</li>
                <li>@Html.ActionLink("Специальности", "Index", "Speciality")</li>
            }
        </ul>
    </div>
}