@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/basic/main.css")
</head>
<body>
    <header>
        @Html.Partial("_PartialHeader")
    </header>
    <div id="MainWrapper">


        <aside>
            @Html.Partial("_PartialAside")
        </aside>
        <article>
            @RenderBody()
        </article>
        <div class="cb"></div>
    </div>
    <footer>
        <div id="FooterWrapper">
            @Html.Partial("_PartialFooter")
        </div>
    </footer>

</body>
</html>
