<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css/basic.css")
</head>
<body>
    <div class="page-wrap">
        <header>
            @Html.Partial("_PartialHeader")
        </header>
        <div id="MainWrapper">
            <aside>
                @Html.Partial("_PartialAside")
            </aside>
            <article>
                @Html.Partial("_PartialNotification")
                @RenderBody()
            </article>
            <div class="cb"></div>
        </div>
    </div>
    <footer>
        <div id="FooterWrapper">
            @Html.Partial("_PartialFooter")
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
