@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/basic/main.css")
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        @Html.Partial("_PartialHeader")
    </header>
    <div id="MainWrapper">
        <aside>
            @Html.Partial("_PartialAside")
        </aside>
        <article>
            @RenderBody()
        </article>
        <div class="cb"></div>
    </div>
    <footer>
        <div id="FooterWrapper">
            @Html.Partial("_PartialFooter")
        </div>
    </footer>
</body>
</html>
