@model UD_Granit.ViewModels.Home.Index

@{
    ViewBag.Title = "Главная страница";
}

<h2>@ViewBag.Title</h2>

<p>Добро пожаловать на главную страницу.</p>

<div style="overflow: hidden">
    <div style="float: left" class="MainBlock">
        <h3>Недавно прошедшие заседания</h3>
        @if ((Model != null) && (Model.SessionsWas != null) && (Model.SessionsWas.Count() > 0))
        {
            <ul>
                @foreach (UD_Granit.Models.Session currentSession in Model.SessionsWas)
                {
                    <li>@(currentSession.Date). @currentSession.Dissertation.Title</li>
                }
            </ul>
        }
        else
        {
            <p>Извините, в АСУРДС не было зарегестрировано ни одного прошедшего заседания.</p>
        }
    </div>
    <div style="float: right" class="MainBlock">
        <h3>Предстоящие заседания</h3>
        @if ((Model != null) && (Model.SessionsWill != null) && (Model.SessionsWill.Count() > 0))
        {
            <ul>
                @foreach (UD_Granit.Models.Session currentSession in Model.SessionsWill)
                {
                    <li>@(currentSession.Date). @currentSession.Dissertation.Title</li>
                }
            </ul>
        }
        else
        {
            <p>Извините, в диссерационном совете не запланировано заседаний.</p>
        }
    </div>
</div>

<h3>Тестовый доступ к системе</h3>
<p>Вы можете использовать следующие учетные данные для демонстрации функциональности системы:</p>
<table>
    <thead>
        <tr>
            <td>Электронный почтовый ящик</td>
            <td>Пароль</td>
            <td>Роль в системе</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>admin</td>
            <td>admin</td>
            <td>Администратор системы</td>
        </tr>
        <tr>
            <td>applicant</td>
            <td>applicant</td>
            <td>Соискатель (без диссертаций)</td>
        </tr>
        <tr>
            <td>member1</td>
            <td>member</td>
            <td>Рядовой член совета</td>
        </tr>
        <tr>
            <td>member2</td>
            <td>member</td>
            <td>Председатель совета</td>
        </tr>
    </tbody>
</table>
