@model UD_Granit.ViewModels.Account.All

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи системы</h2>
<p>На этой странице отображаются все пользователи системы. Вы можете отфильтровать списки по роли пользователей при помощи фильтра, представленного ниже.</p>

<h3>Фильтры</h3>
<p>Вы можете использовать фильтрацию:</p>
<ul>
    <li>@Html.ActionLink("Только администраторы", "All", new { filter = "administrators" }, null)</li>
    <li>@Html.ActionLink("Только члены совета", "All", new { filter = "members" }, null)
        <ul>
            <li>@Html.ActionLink("Только рядовые члены", "All", new { filter = "members", subfilter = "only" }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Только соискатели", "All", new { filter = "applicants" }, null)
        <ul>
            <li>@Html.ActionLink("Только кандидаты на соискание степени кандидата", "All", new { filter = "applicants", subfilter = "candidates" }, null)</li>
            <li>@Html.ActionLink("Только кандидаты на соискание степени доктора", "All", new { filter = "applicants", subfilter = "doctors" }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Без фильтрации", "All")</li>
</ul>

@if ((Model.Administrators != null) && (Model.Administrators.Count() > 0))
{
    <h3>Администраторы</h3>
    <table>
        <thead>
            <tr>
                <td>Электронный адрес</td>
                <td>Имя</td>
                <td>Управление</td>
            </tr>
        </thead>
        <tbody>
            @foreach (UD_Granit.ViewModels.Account.AccountViev account in Model.Administrators)
            {
                <tr>
                    <td>@account.Email</td>
                    <td>@Html.ActionLink(account.Name, "Details", new { id = account.Id })</td>
                    <td>@if ((account.CanEdit) || (account.CanRemove))
                        {
                            if (account.CanEdit)
                            {
                        <span>@Html.ActionLink("Редактировать", "Edit", new { id = account.Id })</span><br />
                            }
                            if (account.CanRemove)
                            {
                        <span>@Html.ActionLink("Удалить", "Delete", new { id = account.Id })</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if ((Model.Members != null) && (Model.Members.Count() > 0))
{
    <h3>Члены совета</h3>
    <table>
        <thead>
            <tr>
                <td>Электронный адрес</td>
                <td>Имя</td>
                <td>Роль в совете</td>
                <td>Управление</td>
            </tr>
        </thead>
        <tbody>
            @foreach (UD_Granit.ViewModels.Account.AccountViev account in Model.Members)
            {
                <tr>
                    <td>@account.Email</td>
                    <td>@Html.ActionLink(account.Name, "Details", new { id = account.Id })</td>
                    <td>@account.Note</td>
                    <td>@if ((account.CanEdit) || (account.CanRemove))
                        {
                            if (account.CanEdit)
                            {
                        <span>@Html.ActionLink("Редактировать", "Edit", new { id = account.Id })</span><br />
                            }
                            if (account.CanRemove)
                            {
                        <span>@Html.ActionLink("Удалить", "Delete", new { id = account.Id })</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if ((Model.Applicants != null) && (Model.Applicants.Count() > 0))
{
    <h3>Соискатели</h3>
    <table>
        <thead>
            <tr>
                <td>Электронный адрес</td>
                <td>Имя</td>
                <td>Степень соискания</td>
                <td>Управление</td>
            </tr>
        </thead>
        <tbody>
            @foreach (UD_Granit.ViewModels.Account.AccountViev account in Model.Applicants)
            {
                <tr>
                    <td>@account.Email</td>
                    <td>@Html.ActionLink(account.Name, "Details", new { id = account.Id })</td>
                    <td>@account.Note</td>
                    <td>@if ((account.CanEdit) || (account.CanRemove))
                        {
                            if (account.CanEdit)
                            {
                        <span>@Html.ActionLink("Редактировать", "Edit", new { id = account.Id })</span><br />
                            }
                            if (account.CanRemove)
                            {
                        <span>@Html.ActionLink("Удалить", "Delete", new { id = account.Id })</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="control">
    @Html.ActionLink("Добавить пользователя", "Register")
</div>
