@model UD_Granit.ViewModels.Account.Delete

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@if (Model.CanDelete)
{
    using (Html.BeginForm("Delete", "Account"))
    {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Referer)

    <p>Вы действительно хотите удалить запись о пользователе <b>@Model.Name</b>?</p>
    
    <div class="control">
        <button>Да</button>
        <a href="@Model.Referer">Отмена</a>
    </div>
    }
}
else
{
    <p>Извините, произошла ошибка при проверке условий на удаление записи о пользователе. Текст ошибки Вы можете видеть выше. Вы можете вернуться назад и исправить возникшие ошибки.</p>
    <div class="control">
        <a href="@Model.Referer">Назад</a>
    </div>   
}