@model UD_Granit.ViewModels.Account.RegisterNewbie

@{
    ViewBag.Title = "Регистрация соискателя";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("RegisterNewbie", "Account"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Данные для авторизации</legend>
        <p>
            @Html.LabelFor(model => model.User.Email):<br />
            @Html.EditorFor(model => model.User.Email)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Email)
        </p>
        <p>
            @Html.LabelFor(model => model.User.Password):<br />
            @Html.PasswordFor(model => model.User.Password)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Password)
        </p>
    </fieldset>
    <fieldset>
        <legend>Личные сведения</legend>
        <p>
            @Html.LabelFor(model => model.User.FirstName):<br />
            @Html.EditorFor(model => model.User.FirstName)&nbsp;
            @Html.ValidationMessageFor(model => model.User.FirstName)
        </p>
        <p>
            @Html.LabelFor(model => model.User.SecondName):<br />
            @Html.EditorFor(model => model.User.SecondName)&nbsp;
            @Html.ValidationMessageFor(model => model.User.SecondName)
        </p>
        <p>
            @Html.LabelFor(model => model.User.LastName):<br />
            @Html.EditorFor(model => model.User.LastName)&nbsp;
            @Html.ValidationMessageFor(model => model.User.LastName)
        </p>
        <p>
            @Html.LabelFor(model => model.User.Birthday):<br />
            @Html.EditorFor(model => model.User.Birthday)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Birthday)
        </p>
    </fieldset>
    <fieldset>
        <legend>Сведения об организации</legend>
        <p>
            @Html.LabelFor(model => model.User.Organization):<br />
            @Html.EditorFor(model => model.User.Organization)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Organization)
        </p>
        <p>
            @Html.LabelFor(model => model.User.Organization_Depatment):<br />
            @Html.EditorFor(model => model.User.Organization_Depatment)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Organization_Depatment)
        </p>
        <p>
            @Html.LabelFor(model => model.User.Organization_Conclusion):<br />
            @Html.TextAreaFor(model => model.User.Organization_Conclusion)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Organization_Conclusion)
        </p>
    </fieldset>
    <fieldset>
        <legend>Место проживания</legend>
        <p>
            @Html.LabelFor(model => model.User.City):<br />
            @Html.EditorFor(model => model.User.City)&nbsp;
            @Html.ValidationMessageFor(model => model.User.City)
        </p>
        <p>
            @Html.LabelFor(model => model.User.Address):<br />
            @Html.EditorFor(model => model.User.Address)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Address)
        </p>
    </fieldset>
    <fieldset>
        <legend>Сведения аб аспирантуре</legend>
        <p>
            @Html.LabelFor(model => model.User.WasInGraduateSchool):<br />
            @Html.CheckBoxFor(model => model.User.WasInGraduateSchool)&nbsp;
            @Html.ValidationMessageFor(model => model.User.WasInGraduateSchool)
        </p>
        <p>
            @Html.LabelFor(model => model.User.University):<br />
            @Html.EditorFor(model => model.User.University)&nbsp;
            @Html.ValidationMessageFor(model => model.User.University)
        </p>
        <p>
            @Html.LabelFor(model => model.User.University_Departmant):<br />
            @Html.EditorFor(model => model.User.University_Departmant)&nbsp;
            @Html.ValidationMessageFor(model => model.User.University_Departmant)
        </p>
    </fieldset>
    
    <div class="control">
        <button>Зарегистрироваться</button>
    </div>
}

<script>
    $(function () {
        $("#User_Birthday").datepicker({ changeYear: true });
    });
</script>
