@model UD_Granit.ViewModels.Account.RegisterAdministrator

@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация в системе</h2>
<p>Введите регистрационные данные в поля формы. При отправке формы, если Вы забыли указать обязательный реквизит, система предотвратит регистрацию и потребует ввести недостающие данные в соответствующие поля.</p>

@using (Html.BeginForm("RegisterAdministrator", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Данные для авторизации</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Email)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.User.Password)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Password)
        </div>
    </fieldset>
    <fieldset>
        <legend>Личные сведения</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.FirstName)&nbsp;
            @Html.ValidationMessageFor(model => model.User.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.SecondName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.SecondName)&nbsp;
            @Html.ValidationMessageFor(model => model.User.SecondName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.LastName)&nbsp;
            @Html.ValidationMessageFor(model => model.User.LastName)
        </div>
    </fieldset>
    <fieldset>
        <legend>Контактные данные</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.User.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Phone)&nbsp;
            @Html.ValidationMessageFor(model => model.User.Phone)
        </div>
    </fieldset>
    
    <div class="control">
        <button>Добавить запись об администраторе</button>
    </div>
}

