@model UD_Granit.ViewModels.Session.Create

@{
    ViewBag.Title = "Новое заседание";
}

<h2>Создание записи о заседании</h2>

@using (Html.BeginForm("Create", "Session"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Dissertation_Id)
    @Html.HiddenFor(model => model.MembersCount)
    @Html.HiddenFor(model => model.SessionType)

    <fieldset>
        <legend>Session</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Session.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Session.Date)
            @Html.ValidationMessageFor(model => model.Session.Date)
        </div>

        <div id="MembersContainer">
            @for (int i = 0; i < Model.MemberList.Count; i++)
            {
                <div id="Member@(i)">@Html.DropDownList("Member" + i, Model.MemberList)</div>
            }
        </div>
        <div id="MembersControl">
            <a id="AddMemberButton" href="#">Добавить члена совета</a> | 
            <a id="DeleteMemberButton" href="#">Убрать члена совета</a>
        </div>

        <div class="control">
            <button>Создать заседание</button>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function () {
        $("#Session_Date").datepicker({ changeYear: true });
        HideMembers();

        $('#AddMemberButton').click(AddMember);
        $('#DeleteMemberButton').click(DeleteMember);
    });

    var membersCount = @(Model.MemberList.Count - 1);
    var membersShowed = 0;

    AddMember = function() {
        if(membersShowed < membersCount) {
            $('#Member' + membersShowed.toString()).show();
            ++membersShowed;
            $('#MembersCount').val(membersShowed);
        }
    }

    DeleteMember = function() {
        if(membersShowed > 0) {
            $('#Member' + (--membersShowed).toString()).hide();
            $('#MembersCount').val(membersShowed);
        }
    }

    HideMembers = function () {
        $('#MembersContainer').children().hide();
        $('#MembersCount').val(membersShowed);
    }
</script>
