@model UD_Granit.ViewModels.Session.Delete

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Session"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <p>Вы действительно хотите удалить запись о заседании, проходившем @Model.Date о диссертации <b>@Model.Title</b>?</p>
    
    <div class="control">
        <button>Да</button>
        @Html.ActionLink("Отмена", "Details", new { Id = Model.Id })
    </div>
}