@model UD_Granit.ViewModels.Reply.Create

@{
    ViewBag.Title = "Добавление отзыва";
}

<h2>Добавление нового отзыва к диссертации</h2>
<p>Заполните поля формы, расположенной ниже.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => Model.Dissertation_Id)

    <fieldset>
        <legend>Информация об авторе</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reply.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reply.Author)
            @Html.ValidationMessageFor(model => model.Reply.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reply.Degree)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reply.Degree)
            @Html.ValidationMessageFor(model => model.Reply.Degree)
        </div>

    </fieldset>
    <fieldset>
        <legend>Информация об организации (университете)</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Reply.Organization)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reply.Organization)
            @Html.ValidationMessageFor(model => model.Reply.Organization)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reply.Departmant)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reply.Departmant)
            @Html.ValidationMessageFor(model => model.Reply.Departmant)
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Информация об отзыве</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Reply.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Reply.Text)<br />
            @Html.ValidationMessageFor(model => model.Reply.Text)
        </div>

    </fieldset>
    
    <div class="control">
        <button>Добавить отзыв</button>
    </div>
}
