@model UD_Granit.ViewModels.Speciality.Edit

@{
    ViewBag.Title = "Редактирование специальности";
}

<h2>@ViewBag.Title</h2>
<p>На этой странице Вы можете отредактировать информацию о специальности.</p>
<p><b>Внимание!</b> Нельзя отредактировать номер специальности.</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Speciality.Number)

        <div class="editor-label">
            @Html.LabelFor(model => model.Speciality.ScienceBranch)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Speciality.ScienceBranch)
            @Html.ValidationMessageFor(model => model.Speciality.ScienceBranch)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Speciality.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Speciality.Name)
            @Html.ValidationMessageFor(model => model.Speciality.Name)
        </div>

        <p>
            <input type="submit" value="Обновить информацию о специальности" />
        </p>
}

<div>
    @Html.ActionLink("Вернуться к списку специальностей", "Index")
</div>