@model UD_Granit.ViewModels.Council.Edit

@{
    ViewBag.Title = "Редактирование информации о диссертационном совете";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "Council"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Данные о прикреплённой организации</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Council.Organization)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Council.Organization)&nbsp;
            @Html.ValidationMessageFor(model => model.Council.Organization)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Council.Department)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Council.Department)&nbsp;
            @Html.ValidationMessageFor(model => model.Council.Department)
        </div>
    </fieldset>
    <fieldset>
        <legend>Основная информация</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Council.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Council.Number)&nbsp;
            @Html.ValidationMessageFor(model => model.Council.Number)
        </div>
        z
        <div class="editor-label">
            @Html.LabelFor(model => model.Council.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Council.Address)&nbsp;
            @Html.ValidationMessageFor(model => model.Council.Address)
        </div>
    </fieldset>
    <fieldset>
        <legend>Прочая информация</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Council.FoundationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Council.FoundationDate)&nbsp;
            @Html.ValidationMessageFor(model => model.Council.FoundationDate)
        </div>
    </fieldset>
    
    <div class="control">
        <button>Принять изменения</button>
    </div>
}

<script>
    $(function () {
        $("#Council_FoundationDate").datepicker({ changeYear: true });
    });
</script>
