@model UD_Granit.Models.Council

@{
    ViewBag.Title = "Информация о диссертационном совете";
}

<h2>@ViewBag.Title</h2>
<p>На этой странице показана информация о диссертационном совете. Здесь Вы можете узнать его номер, организацию, к которой он относится, адрес, а также другую информацию.</p>

@if (Model != null)
{
    <h3>@Html.LabelFor(u => u.Number)</h3>
    <p>@Model.Number</p>
    <h3>@Html.LabelFor(u => u.Organization)</h3>
    <p>@Model.Organization</p>
    <h3>@Html.LabelFor(u => u.Department)</h3>
    <p>@Model.Department</p>
    <h3>@Html.LabelFor(u => u.Address)</h3>
    <p>@Model.Address</p>
    if (Model.FoundationDate != null)
    {
        <h3>@Html.LabelFor(u => u.FoundationDate)</h3>
        <p>@Model.FoundationDate</p>
    }
}
else
{
    <div class="error">
        Извините, информация о диссертационном совете ещё не заполнена.
    </div>
}
@if (Session["User"] is UD_Granit.Models.Administrator)
{
    <p>@Html.ActionLink("Редактировать информацию о диссертационном совете.", "Edit")</p>
}