@model UD_Granit.ViewModels.Council.Members

@{
    ViewBag.Title = "Члены диссертационного совета";
}

<h2>@ViewBag.Title</h2>

@if ((Model != null) && (Model.CouncilMembers != null) && (Model.CouncilMembers.Count() > 0))
{
    <h3>Фильтры</h3>
    <p>Вы можете использовать фильтрацию:</p>
    <ul>
        <li>@Html.ActionLink("По специальностям", "Members", new { filter = "speciality" }, null)</li>
        <li>@Html.ActionLink("По отраслям науки", "Members", new { filter = "scienceBranch" }, null)</li>
        <li>@Html.ActionLink("Без фильтрации", "Members")</li>
    </ul>
    <table>
        <thead>
            <tr>
                <td>Фамилия Имя Отчество</td>
                <td>Должность</td>
                <td>Специальность</td>
                <td>Учёная степень</td>
            </tr>
        </thead>
        <tbody>
            @foreach (UD_Granit.ViewModels.Council.MemberView member in Model.CouncilMembers)
            {
                <tr>
                    <td>@Html.ActionLink(member.Name, "Details", "Account", new { id = member.Id }, null)</td>
                    <td>@member.Position</td>
                    <td>@member.Speciality</td>
                    <td>@member.Degree</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="error">
        Извините, информация о членах диссертационного совета ещё не заполнена.
    </div>
}

@if ((Model != null) && (Model.CanControl))
{
    <div class="control">
        @Html.ActionLink("Добавить члена совета", "Register", "Account")
    </div>
}